ansys-fluent-core==0.20.1
ansys-fluent-parametric==0.10.0
ansys-fluent-visualization==0.9.0
numpy==1.26.4
pandas==2.2.2
seaborn==0.13.2
python-pptx==0.6.23
plotly==5.21.0
openpyxl==3.1.2
sphinx==7.3.7
jupyter_sphinx==0.5.3
numpydoc==1.7.0
matplotlib==3.8.4
ansys-sphinx-theme==0.15.2
pypandoc==1.13
pytest-sphinx==0.6.3
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.24.1
sphinx-copybutton==0.5.2
sphinx_design==0.5.0
sphinx-gallery==0.16.0
sphinx-notfound-page==1.0.0
sphinxcontrib-websupport==1.2.7
sphinxemoji==0.3.1