ansys-fluent-core==0.20.0
ansys-fluent-parametric==0.9.0
ansys-fluent-visualization==0.9.0
numpy==1.26.4
pandas==2.2.1
seaborn==0.13.2
python-pptx==0.6.23
plotly==5.20.0
openpyxl==3.1.2
sphinx==7.2.6
jupyter_sphinx==0.5.3
numpydoc==1.7.0
matplotlib==3.8.3
ansys-sphinx-theme==0.14.1
pypandoc==1.13
pytest-sphinx==0.6.0
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.24.1
sphinx-copybutton==0.5.2
sphinx_design==0.5.0
sphinx-gallery==0.15.0
sphinx-notfound-page==1.0.0
sphinxcontrib-websupport==1.2.7
sphinxemoji==0.3.1